In [35]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (3.0.0)
Requirement already satisfied: numpy>=2.3.3 in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [36]:
import pandas as pd

In [37]:
df=pd.read_csv('cust_satisfaction.csv')

In [38]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103904 non-null  str
 1   Customer Type               103904 non-null  str
 2   Type of Travel              103904 non-null  str
 3   Class                       103904 non-null  str
 4   satisfaction                103904 non-null  str
 5   Age                         103904 non-null  int64
 6   Flight Distance             103904 non-null  int64
 7   Inflight entertainment      103904 non-null  int64
 8   Baggage handling            103904 non-null  int64
 9   Cleanliness                 103904 non-null  int64
 10  Departure Delay in Minutes  103904 non-null  int64
 11  Arrival Delay in Minutes    103594 non-null  float64
dtypes: float64(1), int64(6), str(5)
memory usage: 9.5 MB

In [39]:
df.columns

Index(['Gender', 'Customer Type', 'Type of Travel', 'Class', 'satisfaction',
       'Age', 'Flight Distance', 'Inflight entertainment', 'Baggage handling',
       'Cleanliness', 'Departure Delay in Minutes',
       'Arrival Delay in Minutes'],
      dtype='str')

In [40]:
df[['Customer Type']]

            Customer Type
0          Loyal Customer
1       disloyal Customer
2          Loyal Customer
3          Loyal Customer
4          Loyal Customer
...                   ...
103899  disloyal Customer
103900     Loyal Customer
103901  disloyal Customer
103902  disloyal Customer
103903     Loyal Customer

[103904 rows x 1 columns]

In [41]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [42]:
df.head()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0

In [43]:
df.tail()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [44]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
103899    False
103900    False
103901    False
103902    False
103903    False
Length: 103904, dtype: bool

In [45]:
df.duplicated().sum()

np.int64(172)

In [46]:
df.drop_duplicates(inplace=True)

In [47]:
df.duplicated().sum()

np.int64(0)

In [48]:
df.isnull()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,False,False,False,False,False,False,False,False,False,False,False,False
103900,False,False,False,False,False,False,False,False,False,False,False,False
103901,False,False,False,False,False,False,False,False,False,False,False,False
103902,False,False,False,False,False,False,False,False,False,False,False,False
103903,False,False,False,False,False,False,False,False,False,False,False,False

In [49]:
df.isnull().sum()

Gender                          0
Customer Type                   0
Type of Travel                  0
Class                           0
satisfaction                    0
Age                             0
Flight Distance                 0
Inflight entertainment          0
Baggage handling                0
Cleanliness                     0
Departure Delay in Minutes      0
Arrival Delay in Minutes      310
dtype: int64

In [50]:
df.dropna()

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [51]:
df.dropna(inplace=True)

In [52]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [53]:
df['Type of Travel'].unique()

<StringArray>
['Personal Travel', 'Business travel']
Length: 2, dtype: str

In [54]:
df['Type of Travel'].nunique()

2

In [55]:
df['Type of Travel'].value_counts()

Type of Travel
Business travel    71331
Personal Travel    32091
Name: count, dtype: int64

In [56]:
char =df.select_dtypes(include='object')

C:\Users\HP\AppData\Local\Temp\ipykernel_828\2101896211.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  char =df.select_dtypes(include='object')

In [57]:
iint=df.select_dtypes(exclude='object')

In [58]:
char

,Gender,Customer Type,Type of Travel,Class,satisfaction
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied
2,Female,Loyal Customer,Business travel,Business,satisfied
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied
4,Male,Loyal Customer,Business travel,Business,satisfied
...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied
103900,Male,Loyal Customer,Business travel,Business,satisfied
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied

In [59]:
iint

,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,13,460,5,4,5,25,18.0
1,25,235,1,3,1,1,6.0
2,26,1142,5,4,5,0,0.0
3,25,562,2,3,2,11,9.0
4,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...
103899,23,192,2,4,2,3,0.0
103900,49,2347,5,5,4,0,0.0
103901,30,1995,4,4,4,7,14.0
103902,22,1000,1,1,1,0,0.0
103903,27,1723,1,4,1,0,0.0

In [60]:
df.info()

<class 'pandas.DataFrame'>
Index: 103422 entries, 0 to 103903
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Gender                      103422 non-null  str
 1   Customer Type               103422 non-null  str
 2   Type of Travel              103422 non-null  str
 3   Class                       103422 non-null  str
 4   satisfaction                103422 non-null  str
 5   Age                         103422 non-null  int64
 6   Flight Distance             103422 non-null  int64
 7   Inflight entertainment      103422 non-null  int64
 8   Baggage handling            103422 non-null  int64
 9   Cleanliness                 103422 non-null  int64
 10  Departure Delay in Minutes  103422 non-null  int64
 11  Arrival Delay in Minutes    103422 non-null  float64
dtypes: float64(1), int64(6), str(5)
memory usage: 10.3 MB

In [61]:
df

,Gender,Customer Type,Type of Travel,Class,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,Personal Travel,Eco Plus,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,Loyal Customer,Business travel,Business,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,Business travel,Business,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,Business travel,Business,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
103899,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,Loyal Customer,Business travel,Business,satisfied,49,2347,5,5,4,0,0.0
103901,Male,disloyal Customer,Business travel,Business,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,disloyal Customer,Business travel,Eco,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,Loyal Customer,Business travel,Business,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [63]:
df.drop(['Type of Travel','Class'],axis=1,inplace=True)

In [64]:
df['Customer Type'].unique()

<StringArray>
['Loyal Customer', 'disloyal Customer']
Length: 2, dtype: str

In [65]:
df[df['Customer Type']=='Loyal Customer']

,Gender,Customer Type,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,neutral or dissatisfied,13,460,5,4,5,25,18.0
2,Female,Loyal Customer,satisfied,26,1142,5,4,5,0,0.0
3,Female,Loyal Customer,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,Loyal Customer,satisfied,61,214,3,4,3,0,0.0
5,Female,Loyal Customer,neutral or dissatisfied,26,1180,1,4,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...
103896,Male,Loyal Customer,neutral or dissatisfied,57,867,4,3,4,0,0.0
103897,Female,Loyal Customer,satisfied,60,1599,4,4,4,9,7.0
103898,Male,Loyal Customer,neutral or dissatisfied,50,1620,2,4,2,0,0.0
103900,Male,Loyal Customer,satisfied,49,2347,5,5,4,0,0.0
103903,Male,Loyal Customer,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [67]:
CustType_dict={
    'Loyal Customer':1, 'disloyal Customer':0
}
df['Customer Type']=df['Customer Type'].map(CustType_dict)

In [68]:
df

,Gender,Customer Type,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,1,neutral or dissatisfied,13,460,5,4,5,25,18.0
1,Male,0,neutral or dissatisfied,25,235,1,3,1,1,6.0
2,Female,1,satisfied,26,1142,5,4,5,0,0.0
3,Female,1,neutral or dissatisfied,25,562,2,3,2,11,9.0
4,Male,1,satisfied,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...
103899,Female,0,neutral or dissatisfied,23,192,2,4,2,3,0.0
103900,Male,1,satisfied,49,2347,5,5,4,0,0.0
103901,Male,0,neutral or dissatisfied,30,1995,4,4,4,7,14.0
103902,Female,0,neutral or dissatisfied,22,1000,1,1,1,0,0.0
103903,Male,1,neutral or dissatisfied,27,1723,1,4,1,0,0.0

In [70]:
df['satisfaction'].unique()

<StringArray>
['neutral or dissatisfied', 'satisfied']
Length: 2, dtype: str

In [72]:
satis_dict={
    'neutral or dissatisfied':0, 'satisfied':1
}
df['satisfaction']=df['satisfaction'].map(satis_dict)

In [73]:
df

,Gender,Customer Type,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,1,0,13,460,5,4,5,25,18.0
1,Male,0,0,25,235,1,3,1,1,6.0
2,Female,1,1,26,1142,5,4,5,0,0.0
3,Female,1,0,25,562,2,3,2,11,9.0
4,Male,1,1,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...,...
103899,Female,0,0,23,192,2,4,2,3,0.0
103900,Male,1,1,49,2347,5,5,4,0,0.0
103901,Male,0,0,30,1995,4,4,4,7,14.0
103902,Female,0,0,22,1000,1,1,1,0,0.0
103903,Male,1,0,27,1723,1,4,1,0,0.0

In [74]:
df.drop("Gender",axis=1,inplace=True)

In [75]:
df

,Customer Type,satisfaction,Age,Flight Distance,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,0,13,460,5,4,5,25,18.0
1,0,0,25,235,1,3,1,1,6.0
2,1,1,26,1142,5,4,5,0,0.0
3,1,0,25,562,2,3,2,11,9.0
4,1,1,61,214,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...,...
103899,0,0,23,192,2,4,2,3,0.0
103900,1,1,49,2347,5,5,4,0,0.0
103901,0,0,30,1995,4,4,4,7,14.0
103902,0,0,22,1000,1,1,1,0,0.0
103903,1,0,27,1723,1,4,1,0,0.0

In [77]:
x=df.drop('Flight Distance',axis=1)

In [78]:
x

,Customer Type,satisfaction,Age,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1,0,13,5,4,5,25,18.0
1,0,0,25,1,3,1,1,6.0
2,1,1,26,5,4,5,0,0.0
3,1,0,25,2,3,2,11,9.0
4,1,1,61,3,4,3,0,0.0
...,...,...,...,...,...,...,...,...
103899,0,0,23,2,4,2,3,0.0
103900,1,1,49,5,5,4,0,0.0
103901,0,0,30,4,4,4,7,14.0
103902,0,0,22,1,1,1,0,0.0
103903,1,0,27,1,4,1,0,0.0

In [82]:
y=df[['Flight Distance']]

In [83]:
y

        Flight Distance
0                   460
1                   235
2                  1142
3                   562
4                   214
...                 ...
103899              192
103900             2347
103901             1995
103902             1000
103903             1723

[103422 rows x 1 columns]

In [84]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (2.4.2)
Requirement already satisfied: scipy>=1.10.0 in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in c:\users\hp\appdata\local\programs\python\python314\lib\site-packages (from scikit-learn) (3.6.0)

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [85]:
import sklearn as sns

In [86]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train ,y_test =train_test_split(x , y , test_size=0.2, random_state= 42)

In [87]:
print(x_train.shape, x_test.shape , y_train.shape ,y_test.shape)

(82737, 8) (20685, 8) (82737, 1) (20685, 1)

In [88]:
x_train

,Customer Type,satisfaction,Age,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
71834,0,0,50,5,4,5,24,17.0
76517,1,0,21,1,4,1,38,50.0
29502,1,1,48,5,5,4,13,39.0
7185,1,0,56,2,2,3,41,45.0
31081,1,1,52,5,5,1,0,0.0
...,...,...,...,...,...,...,...,...
6284,1,0,27,4,4,4,35,49.0
55092,1,0,23,4,5,4,0,0.0
77137,0,0,39,4,3,4,0,0.0
861,1,1,24,3,2,3,25,13.0
15837,1,0,53,4,5,4,42,36.0

In [90]:
y_train

       Flight Distance
71834              179
76517             1120
29502             3403
7185              1721
31081              933
...                ...
6284              1671
55092              255
77137              761
861               1013
15837              305

[82737 rows x 1 columns]

In [92]:
x_test

,Customer Type,satisfaction,Age,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
40794,1,1,38,4,4,1,0,0.0
28574,1,1,50,5,5,4,6,14.0
4920,1,0,72,1,4,1,6,0.0
71169,1,1,45,5,4,4,0,0.0
67168,1,1,39,5,5,5,0,7.0
...,...,...,...,...,...,...,...,...
78398,0,1,22,5,3,5,5,12.0
47803,1,1,47,5,4,5,0,0.0
69942,1,0,25,1,4,1,0,0.0
6464,1,0,24,4,4,4,0,0.0
49721,1,0,56,2,2,1,0,0.0

In [93]:
y_test

       Flight Distance
40794             2623
28574             1617
4920               270
71169             1998
67168             2153
...                ...
78398              937
47803              956
69942             1576
6464               622
49721              821

[20685 rows x 1 columns]

In [94]:
from sklearn.linear_model import LinearRegression
lr =LinearRegression()

In [95]:
lr.fit(x_train, y_train)

LinearRegression()

In [96]:
x_test

,Customer Type,satisfaction,Age,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
40794,1,1,38,4,4,1,0,0.0
28574,1,1,50,5,5,4,6,14.0
4920,1,0,72,1,4,1,6,0.0
71169,1,1,45,5,4,4,0,0.0
67168,1,1,39,5,5,5,0,7.0
...,...,...,...,...,...,...,...,...
78398,0,1,22,5,3,5,5,12.0
47803,1,1,47,5,4,5,0,0.0
69942,1,0,25,1,4,1,0,0.0
6464,1,0,24,4,4,4,0,0.0
49721,1,0,56,2,2,1,0,0.0

In [97]:
pred =lr.predict(x_test)

In [98]:
lst=[[1	,1,	38,	4,	4,	1,	0,	0.0]]

In [99]:
lr.predict(lst)

c:\Users\HP\AppData\Local\Programs\Python\Python314\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[1585.11917344]])

In [100]:
pred

array([[1585.11917344],
       [1578.34730756],
       [1071.33372894],
       ...,
       [1020.07393015],
       [1016.17244953],
       [1053.57809446]], shape=(20685, 1))

In [101]:
y_test

       Flight Distance
40794             2623
28574             1617
4920               270
71169             1998
67168             2153
...                ...
78398              937
47803              956
69942             1576
6464               622
49721              821

[20685 rows x 1 columns]

In [106]:
from sklearn.ensemble import RandomForestRegressor
rfg =RandomForestRegressor()

In [108]:
rfg.fit(x_train, y_train)

c:\Users\HP\AppData\Local\Programs\Python\Python314\Lib\site-packages\sklearn\base.py:1336: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [109]:
lst=[[1	,1,	38,	4,	4,	1,	0,	0.0]]
rfg.predict(lst)

c:\Users\HP\AppData\Local\Programs\Python\Python314\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([1982.40865858])

In [104]:
lst=[[1	,1,	38,	4,	4,	1,	0,	0.0]]
rfg.predict(lst)

c:\Users\HP\AppData\Local\Programs\Python\Python314\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([1954.35906425])

In [110]:
x_test

,Customer Type,satisfaction,Age,Inflight entertainment,Baggage handling,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
40794,1,1,38,4,4,1,0,0.0
28574,1,1,50,5,5,4,6,14.0
4920,1,0,72,1,4,1,6,0.0
71169,1,1,45,5,4,4,0,0.0
67168,1,1,39,5,5,5,0,7.0
...,...,...,...,...,...,...,...,...
78398,0,1,22,5,3,5,5,12.0
47803,1,1,47,5,4,5,0,0.0
69942,1,0,25,1,4,1,0,0.0
6464,1,0,24,4,4,4,0,0.0
49721,1,0,56,2,2,1,0,0.0

In [111]:
pred =rfg.predict(x_test)

In [112]:
pred

array([1982.40865858, 1771.01      ,  878.259     , ..., 1141.9194061 ,
        722.50951398, 1093.94692713], shape=(20685,))

In [113]:
y_test

       Flight Distance
40794             2623
28574             1617
4920               270
71169             1998
67168             2153
...                ...
78398              937
47803              956
69942             1576
6464               622
49721              821

[20685 rows x 1 columns]